.hero {
    padding: 97px 0 226px;
    background: url('../img/hero-background.svg') 75% center/830px no-repeat;
    
    @media screen and (max-width: 1600px) {
        padding: 34px 0 201px;
        background: url('../img/hero-background.svg') 75% center/698px no-repeat;
    }

    @media screen and (max-width: 992px) {
        padding: 35px 0 130px;
        background: url('../img/hero-background.svg') 65% center/430px no-repeat;
    }

    @media screen and (max-width: 768px) {
        background: url('../img/hero-background.svg') 75% center/340px no-repeat;
    }

    @media screen and (max-width: 680px) {
        background: none;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 680px) {
            flex-direction: column;
        }
    }

       &__info {
        padding: 49px 0 0;
        max-width: 662px;
        display: flex;
        flex-direction: column;

            @media screen and (max-width: 1600px) {
                padding: 26px 0 0;
                max-width: 469px;
            }

            @media screen and (max-width: 992px) {
                padding: 0;
                max-width: 448px;
            }

            @media screen and (max-width: 820px) {
                max-width: 410px;
            }

        &-buttons {
            display: flex;
            gap: 64px;

            @media screen and (max-width: 1600px) {
                gap: 30px;
            }

            @media screen and (max-width: 992px) {
                gap: 21px;
            }

            @media screen and (max-width: 820px) {
                margin: auto 0 0;
            }

            @media screen and (max-width: 532px) {
                gap: 11px;
            }
        }
    }

    &__title {
        margin: 0 0 32px;
        padding: 0;
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;

        @media screen and (max-width: 1600px) {
            margin: 0 0 38px;
            font-size: 48px;
            line-height: 56px;
        }

        @media screen and (max-width: 1200px) {
            margin: 0 0 32px;
            font-size: 32px;
            line-height: 37px;
        }

        @media screen and (max-width: 992px) {
            margin: 30px 0 20px;
            font-size: 24px;
            line-height: 28px;
        }

        @media screen and (max-width: 820px) {
            margin: 0 0 20px;
            max-width: 242px;
        }

        @media screen and (max-width: 576px) {
            margin: 20px 0 20px;
        }

        &-green {
            color: $primary;
        }
    }

    &__description {
        margin: 0 0 134px;
        padding: 0;
        max-width: 354px;
        line-height: 33px;

        @media screen and (max-width: 1600px) {
            margin: 0 0 66px;
        }

        @media screen and (max-width: 992px) {
            margin: 30px 0 45px;
            max-width: 266px;
            font-size: 18px;
            line-height: 21px;
        } 
        
        @media screen and (max-width: 820px) {
            margin: 10px 0 25px;
        } 

        @media screen and (max-width: 680px) {
            margin: 0 0 36px;
        }

        @media screen and (max-width: 576px) {
            margin: 0 0 66px;
        }
    }

    &__photos {
        width: 45%;

        @media screen and (max-width: 992px) {
            width: 50%;
        }

        @media screen and (max-width: 680px) {
            width: 100%;
            order: -1;
        }
    }

    &__image {
        width: 100%;
        border-radius: 60px;

        @media screen and (max-width: 1600px) {
            border-radius: 42px;
        }

        @media screen and (max-width: 992px) {
            border-radius: 31px;
        }

        @media screen and (max-width: 768px) {
            border-radius: 24px;
        }

        @media screen and (max-width: 680px) {
            border-radius: 47px;
        }

        @media screen and (max-width: 576px) {
            border-radius: 40px;
        }

        @media screen and (max-width: 320px) {
            border-radius: 20px;
        }

    }

    &__calc-button {
        @media screen and (max-width: 992px) {
            height: 50px;
            padding: 18px 20px;
            font-size: 12px;
            line-height: 14px;
        }

        @media screen and (max-width: 375px) {
            font-size: 11px;
        }
    }
    
}