.services {
    margin: 0 0 191px;

    @media screen and (max-width: 1600px) {
        margin: 0 0 130px;
    }

    @media screen and (max-width: 992px) {
        margin: 0 0 103px;
    }

    @media screen and (max-width: 576px) {
        margin: 0 0 76px;
    }
    
    &__header {
        margin: 0 0 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media screen and (max-width: 1600px) {
            margin: 0 0 111px;
        }

        @media screen and (max-width: 992px) {
            margin: 0 0 102px;
        }

        @media screen and (max-width: 576px) {
            margin: 0 0 33px;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        max-width: 589px;

        @media screen and (max-width: 1600px) {
            max-width: 400px;
        }

        @media screen and (max-width: 992px) {
            max-width: 300px;
        }

        @media screen and (max-width: 576px) {
            max-width: 285px;
        }

        &-green {
            color: $primary;
        }
    }

    &__description {
        max-width: 513px;

        @media screen and (max-width: 1600px) {
            max-width: 443px;
        }
        @media screen and (max-width: 992px) {
            max-width: 295px;
        }
    }

    &__cards {
        margin: 0 auto 57px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;

        @media screen and (max-width: 1600px) {
            gap: 29px;
        }

        @media screen and (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 75px;
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    &__card {
        padding: 0 0 38px;
        border: 4px solid $primary;
        border-radius: 16px 16px 47px 47px;
        overflow: hidden;

        @media screen and (max-width: 1600px) {
            padding: 0 0 32px;
            border-radius: 12px 12px 38px 38px;
        }

        &-image {
            margin: 0 0 33px;
            width: 100%;
            height: 261px;
            display: flex;
            object-fit: cover;

            @media screen and (max-width: 1600px) {
                margin: 0 0 28px;
                height: 223px;
            }
        }

        &-info {
            padding: 0 24px 0;
            display: flex;
            flex-direction: column;
        }

        &-name {
            margin: 0 0 13px;
            font-size: 20px;
            line-height: 24px;

            @media screen and (max-width: 1600px) {
                font-size: 18px;
                line-height: 21px;
            }

            @media screen and (max-width: 992px) {
                min-height: 42px;
            }
        }

        &-description {
            margin: 0 0 30px;
            font-size: 14px;
            line-height: 17px;
        }
        
    }

    &__button {
        margin: 0 auto;
        max-width: 297px;
        height: 63px;

        @media screen and (max-width: 992px) {
            max-width: 232px;
            height: 48px;
        } 
    }
}